<%- include('./include/head.ejs') %>
    <link href = '/CSS/navbar.css' type = 'text/css' rel = 'stylesheet'/>
    <link href = '/CSS/app.css' type = 'text/css' rel = 'stylesheet'/>
</head>
<body>
    <%- include('./include/navbar.ejs') %>
    <main>
        <p>Error page</p>
    </main>
<%- include('./include/end.ejs') %>