@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Supermercado+One&display=swap');

body{
    background-color: rgb(221, 221, 221);
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}
p{
    font-family: 'Comforter', cursive;
}