<nav class = 'navbar'>
    <div class = 'navbar_part1'>
        <div class = 'navbar_item'>
            <img src = '#'>
        </div>
        <div class = 'navbar_item'>
            <a href = '#' class = 'navbar_item__link'>Products</a>
        </div>
        <div class = 'navbar_item'>
            <a href = '#' class = 'navbar_item__link'>Re-Used</a>
        </div>
        <div class = 'navbar_item'>
            <a href = '#' class = 'navbar_item__link'>Re-cycle</a>
        </div>
    </div>
    <div class = 'navbar_part2'>
        <div class = 'navbar_item button'>
            <a href = '#' class = 'navbar_item__link'>Login</a>
        </div>
        <div class = 'navbar_item button active'>
            <a href = '#' class = 'navbar_item__link'>Sign Up</a>
        </div>
    </div>
</nav>